* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: yellow;
}

.hamburger {
    width: 200px;
    height: 200px;
    background-color: yellow;
}

 kék kocska : #242D38

 fehér: #EFD592;